{%extends 'base.html'%}
{%block title%}Michael Moreno | Developer{%endblock%}
{%block content%}
    <!-- Profile -->
    <section class="hero align-items-stretch">
        <div class="container text-center my-1">
            <div class="profile">
                <img class="profile-picture" src="{{url_for('static',filename = 'images/' + data.images['profile picture']) }}" class="rounded-circle" style="width: 200px; height: 200px; object-fit: cover;">
                <h1> {{data['first name']}}  {{data['last name']}} </h1>
                <h2> {{data.description['short description']}} </h2>
            </div>
            <div class="profile-inferior">
                <img class="profile-inferior-img img-fluid" src="../static/images/dev.svg" alt="Desarrollador trabajando" >
            </div>
        </div>
    </section>

    <!-- About me -->
    <section id="about-me" class="about-me dark-section">
        <div class="conteiner">
            <h2 class="title-section">About Me</h2>
            <p class="text-section">{{data.description['long description']}} </p>
        </div>
    </section>

    <!-- Projects -->
    <section id="projects" class="projects clear-section d-flex flex-column">
        <h2 class="title-section dark-text"> Projects  </h2>
        <h3 class="description-section"> This is some proyects </h3>
        <!-- Galeria -->
        <div class="container text-center projects-container">
            <div class="row">
                <!-- Proyect 1 -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="project">
                        <img src="../static/images/project1.png" alt="Logo de la copa del mundo">
                        <div class="overlay">
                            <p>Argentina's Dream Team</p>
                            <div class="container-icons">
                                <a href="https://github.com/fer-2001/AYDS-IS-Proyecto-2023" target="_blank" rel="noopener noreferrer"> 
                                    <i class="bi bi-github"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Proyect 2 -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="project">
                        <img src="../static/images/dev.svg" alt="Proyect 1">
                        <div class="overlay">
                            <p>My Briefcase</p>
                            <div class="container-icons">
                                <a href="https://github.com/MaicolBM/CV" target="_blank" rel="noopener noreferrer"> 
                                    <i class="bi bi-github"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Proyect 3 -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="project">
                        <img src="../static/images/project2.png" alt="Icono de un ave fenix">
                        <div class="overlay">
                            <p>The Hunger Game</p>
                            <div class="container-icons">
                                <a href="https://github.com/proyecto-unrc-2023/the-hunger-game" target="_blank" rel="noopener noreferrer"> 
                                    <i class="bi bi-github"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="https://github.com/MaicolBM?tab=repositories" target="_blank" rel="noopener noreferrer">
        <button type="button" class="btn btn-info">
            Some Projects
            <i class="bi bi-arrow-right-circle-fill"></i>
        </button>
        </a>
    </section>

    <!-- Experience -->
    <section id="experience" class="experience clear-section">
        <div class="container text-center">
            <div class="row">

                <!-- Desarrollo -->
                <div class="column col-12 col-md-4">
                    <i class="bi bi-wrench"></i>
                    <p class="experience-title"> IT technician </p>
                    <p> I am a professional and personal computer technician. </p>
                    <div class="badges-conteiner">
                        <span class="badge text-bg-primary">Advice</span>
                        <span class="badge text-bg-primary">Repair</span>
                        <span class="badge text-bg-primary">Facility</span>
                    </div>
                </div>
                <!-- Articulos -->
                <div class="column col-12 col-md-4">
                    <i class="bi bi-code-slash"></i>
                    <p class="experience-title"> Computer analyst </p>
                    <p> I am a computer analyst and developer. </p>
                    <div class="badges-conteiner">
                        <span class="badge text-bg-primary">Python</span>
                        <span class="badge text-bg-primary">Java</span>
                        <span class="badge text-bg-primary">HTML+CSS</span>
                        <span class="badge text-bg-primary">Ruby</span>
                    </div>
                </div>
                <!-- Estudiante -->
                <div class="column col-12 col-md-4">
                    <i class="bi bi-geo-alt-fill"></i>
                    <p class="experience-title"> Location </p>
                    <p> I currently live in Argentina, in the city of Rio Cuarto in the province of Cordoba. </p>
                    <div class="badges-conteiner">
                        <span class="badge text-bg-primary">Argentina</span>
                        <span class="badge text-bg-primary">Cordoba</span>
                        <span class="badge text-bg-primary">Rio IV</span>
                    </div>
                </div>
                
            </div>
        </div>
    </section>


    <!-- Contact -->
    <section id="contact" class="contact dark-section">
        <div class="container">
            <div class="container text-center rectangle d-flex justify-content-evenly">
                <div class="row">
                    <div class="col-12 col-md-4 title-section">
                        Contact me
                    </div>
                    <div class="col-12 col-md-4 description">
                        Thanks for your visit!
                    </div>
                    <div class="col-12 col-md-4">
                        <a href="mailto:maaicolmorenooo@gmail.com">
                            <button type="button">
                                Contact
                                <i class="bi bi-envelope-check-fill"></i>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
     <footer class="dark-section d-flex flex-column align-items-center justify-content-center">
        <p class="footer-text text-center"> Find me on my social networks </p>
        <div class="social-icons d-flex flex-wrap align-items-center justify-content-center">
          <a href="https://github.com/MaicolBM" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-github"></i>
          </a> 
          <a href="https://www.linkedin.com/in/michaaael-morenooo/" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-linkedin"></i>
          </a>
          <a href="https://www.instagram.com/michhael___/" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-instagram"></i>
          </a>
          <a href="mailto:maaicolmorenooo@gmail.com" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-envelope"></i>
          </a>     
        </div>
        <div class="author"> Create by Michael Moreno (2024) &#169;</div>

     </footer>
    
{%endblock%}